.container {
  height: 600px;
}

.editor {
  margin-bottom: 10px;
  padding: 12px 20px;
}

.btn-container {
  padding: 10px;
}

.btn-container button {
  padding: 5px 12px;
}

.share-button {
  margin-left: 10px;
}
